- name: Build
        run: pnpm run build
      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          # Matches line 26 of your vite.config.ts
          path: './dist'
